html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #003366;
}
h1, h2 {
    color: #003366;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: lightgray;
    height: 4rem;
    border-bottom: 2px solid #003366;
}
.main {
    background-color: whitesmoke;
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    background-color: #003366;
    color: lightgray;
}

img {
    width: 3.5rem;
    height: 3.5rem;
}

.logo {
    display: flex;
}

ul {
    list-style: none;
}
