html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #003366;
}
h1, h2 {
    color: #003366;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    height: 4rem;
}
.main {
    background-color: #0099cc;
    height: 40rem;
    padding: 1rem;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

img {
    width: 3.5rem;
    height: 3.5rem;
}

.logo {
    display: flex;
}
